.card{class: "#{'big' if local_assigns[:big].present?}", style: "background-color: #{card_color(title)};"}
  .card-body
    .big= number_with_precision(count, delimiter: ',', precision: 0)
    -if local_assigns[:total].present?
      .medium= nice_percentage(count, total, precision: 0)
    .label= title
