= render 'radio_filter_multi_links', param: :kind, values: SiteCommon::KIND_VALS
= render 'radio_filter_links', key: :owned
= render 'radio_filter_links', key: :saved
= render 'radio_filter_links', key: :private
= render 'radio_filter_links', key: :hub
= render 'radio_filter_links', key: :no_stub
= render 'radio_filter_links', key: :new_pass
= render 'radio_filter_links', key: :deleted
