
%h2= @title

-if @user
  .user-links
    =link_to_user(@user.name, @user)
    =link_to_user_sites_with_count(@user, :sites)
    -if Settings.tiddlyspot_enabled?
      =link_to_user_sites_with_count(@user, :tspot_sites)
    =link_to_user_hub_with_count(@user) if @user.has_hub_link?

=render 'tabs'

.admin-filter
  .group Filter:
  =render "#{action_name}_filter"
  =render 'shared/search_box'

.admin-paginate= will_paginate(@records)
.admin-page-info= pagination_info(@records)

%table.admin.table.table-sm.table-striped
  =render "#{action_name}_table"

.admin-paginate= will_paginate(@records)
.admin-page-info= pagination_info(@records)
