
%h2= @title

= render 'tabs'

= render 'user_info', user: @user if @user

- unless @user && action_name == "users"
  .admin-filter
    .group Filter:
    = render "#{action_name}_filter"
    = render 'search_box'

.admin-paginate= will_paginate(@records)
.admin-page-info= pagination_info(@records)

%table.admin.table.table-sm.table-striped
  = render "#{action_name}_table", records: @records, specific_user: @user

.admin-paginate= will_paginate(@records)
.admin-page-info= pagination_info(@records)
