
%h2= @title

=render 'tabs'

%table.dataTable.display.responsive.nowrap
  %thead
    %tr
      %th Id
      %th Name
      %th Empty
      %th Description
      %th Private?
      %th Searchable?
      %th Views
      %th Accesses
      -unless @user
        %th Owner
        %th Email
      %th Storage key
      %th Size (MB)
      %th Last access
      %th.default-sort Last update
      %th Created
  %tbody
    -@sites.each do |s|
      %tr
        =datatable_sort_by(s.id)
        %td
          -if s.is_private?
            -# Admin will be able to see it, but make it harder to
            -# click as a reminder that this is a private site
            =s.name
            =site_link(s, link_title: '!')
          -else
            =site_link(s)
        =datatable_sort_by(s.empty_id, s.empty.name)
        %td.nowrap.text-truncated{style: 'max-width: 6em;'}
          =span_with_title(s.description)
        %td= bool_text s.is_private?
        %td= bool_text s.is_searchable?
        =datatable_sort_by(s.view_count)
        =datatable_sort_by(s.access_count)
        -unless @user
          %td= link_to_user_sites(s.user_name, s.user)
          %td= link_to_user_sites(s.user_email, s.user)
        %td= s.blob_key
        =datatable_sort_by(s.blob_byte_size, as_megabytes(s.blob_byte_size))
        =datatable_timestamp(s.accessed_at)
        =datatable_timestamp(s.blob_created_at)
        =datatable_timestamp(s.created_at)
