
%h2 Storage

= render 'tabs'

%table.admin.table.table-striped{ style: "width: auto; font-size: 1.1rem;" }
  %thead
    %th Type
    %th Service
    %th Bucket
    %th Files
    %th Bytes

  - configs = Rails.application.config.active_storage.service_configurations

  - attachment_names.each do |name|
    - attachment_service_names_for_attachment(name).each_with_index do |service_name, i|
      - count = ActiveStorage::Blob.joins(:attachments).where(attachments: {name:}, service_name:).count
      - bytes = ActiveStorage::Blob.joins(:attachments).where(attachments: {name:}, service_name:).sum(:byte_size)

      %tr
        %td= name if i == 0
        %td= service_name
        %td= configs&.dig(service_name, 'bucket') || '-'
        %td= count
        %td= nice_byte_count(bytes)

-# Todo maybe: Show orphan counts
