
%h1= @title || bi_icon(:tag) + @tag

%p.text-muted{style: 'font-size: 95%'}
  = @tag_description

%div{style: "margin-bottom: 2em;"}
  %ul.nav.nav-tabs
    = hub_link_to('All sites', '/hub')
    - @hub_tags.each do |k, tag_info|
      = hub_link_to(tag_info[:title], "/hub/#{k}")
    - @tag_tabs.each do |tag|
      = hub_tag_link_to(tag)

.page_info.text-muted
  = page_entries_info(@sites, model: Site)
  = "tagged with #{@tag}" if @tag.present?
  = "matching '#{@search}'" if @search.present?

  %span.sort-by
    Sort by:
    =link_to(@sort_by[:name], "#", class: 'dropdown-toggle',
      role: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false')
    .dropdown-menu{'aria-labelledby': 'dropdownMenuLink'}
      - @sort_options.each do |key, sort_option|
        = link_to sort_option[:name], sort_url(key), class: 'dropdown-item'

  %span.search
    Search:
    %form{method: 'GET', style: 'display: inline;'}
      %input{name: 'search', value: @search}
      %button.btn.btn-sm= bi_icon(:search)
      - if @search.present?
        = link_to 'Clear', clear_search_url

.hub
  - @sites.each do |s|
    .site
      .name
        = site_long_link s
      .description
        = span_with_title_truncated(s.description)
      .owner
        %span Owner:
        = gravatar_image(s.user, size: 16) if s.user.use_gravatar?
        = s.user.name
        %span{style: 'margin-left: 0.5em;'} Views:
        = s.view_count
      - unless s.tag_list.empty?
        .site-tags= clickable_site_tags(s)

.pagination
  = will_paginate(@sites)
