
.container-fluid
  .row.mx-2.my-4.p-md-2.p-0

    .col-md-3.col-6
      %h6.text-muted Version
      %ul{ style: "padding-left: 0.5em; opacity: 70%;" }
        - unless Rails.env.production?
          %li Env: #{Rails.env}
        %li Version: #{link_to Settings.app_version, '/about'}
        - if feature_enabled?(:admin)
          %li Built: #{nice_timestamp(DateTime.parse(Settings.build_info['date']))}
        %li &copy; 2021-#{Time.now.year} Simon Baird

    .col-md-3.col-6
      %h6.text-muted
        = link_to '/about' do
          About
      %ul
        %li
          = link_to Settings.faq_url, target: '_blank' do
            = bi_icon('patch-question')
            FAQ

        %li
          = link_to Settings.docs_url, target: '_blank' do
            = bi_icon('file-text')
            Docs

        %li
          = link_to 'https://tiddlyspot.blogspot.com/', target: '_blank' do
            = bi_icon('newspaper')
            Blog

        %li
          = link_to 'https://x.com/tiddlyhost', target: '_blank' do
            = bi_icon('twitter-x')
            X

    .col-md-3.col-6
      %h6.text-muted
        = link_to '/support' do
          Support

      %ul
        %li
          = link_to Settings.create_issue_url, target: '_blank' do
            = bi_icon('bug')
            Report issue

        %li
          = link_to Settings.create_issue_url, target: '_blank' do
            = bi_icon('lightbulb')
            Suggest feature

        %li
          = mail_to Settings.support_email do
            = bi_icon('envelope')
            Send email

        %li
          = link_to '/donate' do
            = bi_icon('piggy-bank')
            Donate/Sponsor

    .col-md-3.col-6
      %h6.text-muted Tiddlyhost
      %ul
        %li
          = link_to '/terms-of-use' do
            = bi_icon('file-earmark-text')
            Terms of Use

        %li
          = link_to '/privacy-policy' do
            = bi_icon('file-earmark-text')
            Privacy Policy

        %li
          = link_to "#{Settings.github_url}/blob/main/LICENSE.md", target: '_blank' do
            = bi_icon('file-earmark-check')
            Software License

        %li
          = link_to Settings.github_url, target: '_blank' do
            = bi_icon('gem')
            Source Code
