
<nav class="navbar navbar-expand-sm navbar-dark">

  <%= link_to(root_path, class: 'navbar-brand', title: 'Tiddlyhost') do %>
    <%= image_tag("logo.svg", style: "height:32px;margin-left:12px;opacity:80%;") %>
  <% end %>

  <button class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <%= nav_link_to "Home", root_path %>
        <%= nav_link_to "Hub", '/hub' %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if current_user.is_admin? %>
          <%= nav_link_to "Sites", admin_sites_path %>
          <%= nav_link_to "Users", admin_users_path %>
        <% end %>
        <%= nav_link_to current_user.name, edit_user_registration_path, icon: 'person-fill' %>
        <%= nav_link_to "Log out", destroy_user_session_path, method: :delete, icon: 'box-arrow-left' %>
      </ul>
    <% else %>
      <ul class="navbar-nav mr-auto">
        <%= nav_link_to "Home", root_path %>
        <%= nav_link_to "Hub", '/hub' %>
        <%= nav_link_to "Log in", new_user_session_path %>
        <%= nav_link_to "Sign up", new_user_registration_path %>
      </ul>
    <% end %>
    </ul>
  </div>

</nav>
