<!DOCTYPE html>
<html>
  <head>
    <title>Tiddlyhost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main>

      <div class="alert alert-warning" style="font-size: 90%; padding: 0.1em 1em;">
        <%= bi_icon 'exclamation-triangle' %>
        WARNING: Tiddlyhost is still in development mode. Your account or your sites
        might be deleted without warning. Don't use it for anything important. Report
        problems <%= link_to 'here', Settings.issues_url %>.
      </div>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>

</html>
