<!DOCTYPE html>
<html data-theme-mode="<%= theme_mode %>" data-bs-theme="<%= theme_mode %>">
  <head>
    <title>Tiddlyhost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <% if @need_stripe_js %>
      <script src="https://js.stripe.com/v3/"></script>
    <% end %>

    <% if @need_chart_js %>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/moment"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <% end %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main>
      <%= render 'layouts/banner_message' if Settings.banner_message %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>

</html>
