<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "#{@status_code} #{@status_message}" %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="simple-layout">
    <header>
      <nav class="navbar navbar-dark">
        <%= link_to(Settings.main_site_url, class: 'navbar-brand', title: 'Tiddlyhost') do %>
          <%= image_tag("logo.svg") %>
          <span>Tiddlyhost</span>
        <% end %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
    </footer>

  </body>
</html>
