<!DOCTYPE html>
<html data-bs-theme="<%= bs_theme %>">
  <head>
    <title><%= @title || "#{@status_code} #{@status_message}" %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body class="simple-layout">
    <header>
      <nav class="navbar navbar-dark bg-gradient <%= navbar_prod %>">
        <%= link_to(Settings.main_site_url, class: 'navbar-brand', title: 'Tiddlyhost') do %>
          <%= image_tag("logo.svg") %>
          <span>Tiddlyhost</span>
        <% end %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
