%table.sites.table.table-striped

  %thead
    %th= sort_link 'Name', :asc
    %th= sort_link 'Kind'
    %th= sort_link 'Version'
    %th= sort_link 'Access', :asc
    %th= sort_link 'Views'
    %th= sort_link 'Size'
    %th= sort_link 'Compressed'
    %th= sort_link 'Updated'
    %th Actions

  %tbody
    -@sites.each do |site|
      -is_tspot = site.is_a?(TspotSite)
      %tr
        %td
          .sitelink= site_pretty_link(site, target: site.long_name)
          -if site.description.present?
            .description= span_with_title(site.description)
          -unless site.tag_list.empty?
            .site-tags= clickable_site_tags(site)

        %td.small
          =kind_logo(site)

        %td.small
          -if site.tw_version
            =site.tw_version
          -else
            .text-muted -

        %td.small.smaller
          =site_access(site)

        %td.small.smaller
          .views
            -if is_tspot
              =site.access_count
            -else
              =site.view_count

        %td.small.smaller
          -if site.raw_byte_size
            !="#{as_megabytes(site.raw_byte_size)}&nbsp;MB"
          -else
            .text-muted -

        %td.small.smaller
          -if site.blob
            !="#{as_megabytes(site.blob_byte_size)}&nbsp;MB"
          -else
            .text-muted -

        %td.small.smaller
          -if is_tspot
            =nice_timestamp(site.save_count > 0 && site.blob_created_at)
          -else
            =nice_timestamp(site.blob_created_at)

        %td
          =render 'actions_menu', site: site, is_tspot: is_tspot
