%table.sites.table.table-striped.mt-4

  %thead
    %th= sort_link 'Name', :asc
    %th
    %th= sort_link 'Kind'
    %th= sort_link 'Version'
    %th= sort_link 'Access', :asc
    %th= sort_link 'Views'
    %th= sort_link 'Size'
    %th= sort_link 'Updated'
    %th Actions

  %tbody
    - @filtered_sites.each do |site|
      - is_tspot = site.is_a?(TspotSite)
      %tr
        %td.small
          .sitelink= site_pretty_link(site, name: site.name, target: site.long_name)
          - if site.description.present?
            .description= span_with_title(site.description)
          - unless site.tag_list.empty?
            .site-tags= home_tag_links(site)

        %td{ style: "text-align: right; padding: 0.3em 1em;" }
          - thumbnail = site.thumbnail_with_fallback
          - if thumbnail.present?
            = link_to site.url, target: site.long_name do
              = image_tag thumbnail_url(thumbnail), class: "thumbnail-small"

        %td.small.pt-2
          = kind_logo(site)

        %td.small
          - if site.tw_version
            = site.tw_version_short
          - else
            .text-muted -

        %td.small.smaller
          = site_access(site)
          - if site.cloneable_by_public?
            (template)

        %td.small.smaller
          .views
            - if is_tspot
              = site.access_count
            - else
              = site.view_count

        %td.small.smaller
          - if site.raw_byte_size
            = nice_byte_count_nbsp(site.raw_byte_size)
          - else
            .text-muted -

        %td.small.smaller
          - if is_tspot
            = nice_timestamp(site.save_count > 0 && site.blob_created_at)
          - else
            = nice_timestamp(site.blob_created_at)

        %td
          = render 'actions_menu', site: site, is_tspot: is_tspot
