
.nice-radio-container.type-chooser.enable-tooltips{ class: @site.empty.primary? ? "shorter" : "longer" }

  = f.label nil do
    Type
    = link_to "Show more types", "#", class: 'longer-link'

  - @empties_for_select.each_with_index do |empty, i|

    -# The first one is selected by default
    %div{ class: [empty == @site.empty ? 'selected' : '', empty.primary? ? '' : 'longer-only'] }

      = f.label :empty_id, empty.id, value: empty.id do

        = f.radio_button :empty_id, empty.id, class: 'me-1', style: "margin-left: -0.3em;"

        = logo_for_kind empty.kind

        .title
          = empty.title

        %small.text-muted{ style: "font-size: 80%;" }
          (#{empty.tiddlywiki_version})

        = render 'popover_help', html_content: empty.long_tooltip

        .description
          = empty.description

  .no-hover.longer-only.ms-3.small
    = link_to "Create from a template", "/hub?t=1"
    = render 'popover_help',
      html_content: "You can also create a site by selecting a community |
        created template and cloning it. This link takes you to the list |
        of available templates." |
