= render layout: 'form_wrapper',
  locals: { heading: "Save history for '#{@site.name}'" } do

  .my-3
    = render 'site_tile_clone', mode: 'home', site: @site

  %table.table.history-table.mt-4
    %thead
      %tr.enable-tooltips
        %th #
        %th
          Timestamp
          = render 'popover_help', html_content: "Times are shown in UTC."

        %th Saved

        %th
          Size
          = render 'popover_help', html_content: "The compressed file size."

        %th
          Checksum
          = render 'popover_help', html_content: "Identical checksums indicate identical saved versions."

        %th
          Label
          = render 'popover_help', html_content: text_join("Saved versions with labels will prioritized ",
              "over saved versions without labels when pruning the saved version list. ",
              "This allows you to keep important versions indefinitely.")

        %th.text-end.pe-3 Actions

    %tbody
      - @site.saved_content_files.order('created_at DESC').limit(@site.keep_count+2).each_with_index do |f, i|
        - is_current = (f.blob_id == @current_blob_id)

        - if is_current
          %tr
            %td.pt-4{ colspan: 7 }
              %b Current version:

        - fade_opac = fade_away_opacity(@site, i) unless feature_enabled?(:site_history)
        %tr
          %td{ style: fade_opac } #{i+1}.

          %td.th-text-smaller{ style: fade_opac }= f.blob.created_at.to_s.sub(/ UTC$/, '')

          %td{ style: fade_opac }= nice_timestamp f.blob.created_at, brief: true

          %td{ style: fade_opac }= nice_byte_count_nbsp(f.blob.byte_size)

          %td{ style: fade_opac }= cosmetic_saved_version_checksum(f)

          %td{ style: "padding-right: 0; #{fade_opac}", class: ('label_present' if f.attachment_label) }
            = render 'history_label', site: @site, f:, is_current:

          %td.text-end.pe-3.actions-menu-group{ style: "padding-left: 0;" }
            - if is_current
              -# Regular actions menu for convenience
              = render 'actions_menu', site: @site, is_tspot: @site.is_tspot?, menu_only: true, history_mode: true

            - else
              -# Actions for previous saved version
              = render 'history_actions_menu', f:

        - if is_current
          - if @saved_version_count > 1
            %tr
              %td.pt-4{ colspan: 7 }
                %b Older versions:
          - else
            %tr
              %td.p-4{ colspan: 7, style: "border-bottom-width: 0px;" }
                %i.text-muted <br><br>No older versions found.


  - if !feature_enabled?(:site_history)
    .p-4
      %i
        Tiddlyhost will save and provide access to up to #{Settings.keep_counts[:standard]}
        saved versions for Tiddlyhost subscribers.
        = link_to("Upgrade your plan", "/subscription")
        to access this feature.

  - elsif @saved_version_count > @keep_count - 10
    .p-3.text-muted.small
      %i
        Note that only the newest #{@keep_count} versions will be kept. Once there
        are more than #{@keep_count}, the oldest unlabeled saved versions will be
        removed.

-# Will be opened by the edit link in the history_label partial
= render 'modal_wrapper', title: "Set label", submit: "Update"
