
%h1 Your sites

- if @sites.empty?
  %p Click 'Create' below to create your first TiddlyWiki site.

- else
  - if current_user.has_hub_link?
    .th-text-deco-none.th-text-smaller.m-3.mt-2.pt-1
      = link_to_user_hub_with_count(current_user)

  .float-end.sites-menu-container.small{ style: "margin-top: -0.6rem;" }
    = render 'filter_and_sort', sites: @sites, list_mode: @list_mode, list_mode_next: @list_mode_next

  .ps-1.ms-2.mb-3.th-text-small
    - if @filtered_site_count != @site_count
      Showing #{@filtered_site_count} #{params[:access]} sites of #{pluralize(@site_count, 'site')} total.
      = link_to('Clear filter', sites_path(s: params[:s]), style: 'text-decoration: none;') + "."
    - else
      = pluralize(@site_count, 'site') + ","
    = nice_byte_count(@total_storage_bytes)
    storage used.

  -# 'list_view' or 'grid_view'
  = render "#{@list_mode}_view"

.nice-buttons.mx-2.my-4.py-2
  = link_to new_site_path, class: 'btn me-3', title: 'Create a site' do
    = bi_icon('plus-lg', style: "margin-right: 1px;")
    Create

  = link_to '/hub?t=1', class: 'btn me-3', title: 'Create a site using a template' do
    = bi_icon('files')
    Create from template

  - if Settings.tiddlyspot_enabled?
    = link_to({ controller: :tspot_sites, action: :claim_form },
      class: 'btn', title: 'Claim ownership of an existing Tiddlyspot site') do
      = bi_icon('flag')
      Claim Tiddlyspot site

  - if @filtered_site_count > 0
    = link_to({ controller: :sites, action: :download_all }.merge(params.permit(:q, :kind, :access, :s, :tags)),
      class: 'btn', title: "Download #{pluralize(@filtered_site_count, "site")} zipped") do
      = bi_icon('file-earmark-zip')
      Download all
