%h1 Your sites

-if @sites.empty?
  %p Click 'Create site' below to create your first TiddlyWiki site.

-else
  -if current_user.has_hub_sites? && current_user.has_username?
    .hub-link
      =link_to(hub_user_url(current_user.username)) do
        View in Tiddlyhost Hub
        =bi_icon('arrow-right-short')

  .summary-info
    =pluralize(@site_count, 'site') + ","
    =as_megabytes(@total_storage_bytes)
    MB storage used.

  %table.sites

    %thead
      %th Site
      %th Access
      %th Views
      %th Size
      %th Last updated
      %th

    %tbody
      -@sites.each do |site|
        -is_tspot = site.is_a?(TspotSite)
        %tr
          %td
            .sitelink= site_pretty_link(site)
            -if site.description.present?
              .description= span_with_title(site.description)
            -unless site.tag_list.empty?
              .site-tags= clickable_site_tags(site)

          %td
            .site-access= site_access(site)

          %td
            .views
              -if is_tspot
                =site.access_count
              -else
                =site.view_count

          %td
            -if site.blob
              =as_megabytes(site.blob_byte_size)
              MB
            -else
              .text-muted -

          %td
            =nice_timestamp(site.blob_created_at)

          %td
            .btn-group
              %button.btn.btn-secondary.btn-sm.dropdown-toggle{"type"=>"button", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
                =bi_icon('gear-fill', style: 'color: white; margin-right: 0px;')
                Actions
              .dropdown-menu
                =site_download_link(site, class: 'dropdown-item') { bi_icon('download') + 'Download' }
                -unless is_tspot
                  .dropdown-divider
                  =link_to(edit_site_path(site), class: 'dropdown-item') { bi_icon('sliders') + 'Change settings' }
                  =link_to(upload_form_site_path(site), class: 'dropdown-item') { bi_icon('upload') + 'Upload' }
                  .dropdown-divider
                  =link_to(site, method: :delete, class: 'dropdown-item',
                    data: { confirm: "Are you sure you want to delete '#{site.name}'?" }) { bi_icon('trash') + 'Delete' }

.create-button
  =link_to 'Create site', new_site_path, class: 'btn btn-primary'
