%h1 Your sites

- if @sites.empty?
  %p Click 'Create site' below to create your first TiddlyWiki site.

- else
  %table.sites

    %thead
      %th Site
      %th Access
      %th Options

    %tbody
      - @sites.each do |site|
        %tr
          %td
            .sitelink= site_long_link(site)
            - if site.description.present?
              .description= span_with_title(site.description)
            - unless site.tag_list.empty?
              .site-tags= clickable_site_tags(site)

          %td
            .site-access= site_access(site)

          %td
            = site_download_link(site, class: 'btn btn-sm') { bi_icon('download') + 'Download' }
            = link_to(edit_site_path(site), class: 'btn btn-sm') { bi_icon('sliders') + 'Settings' }
            = link_to("javascript:;", class: 'delete-confirm btn btn-sm') { bi_icon('trash') + 'Delete' }
            = link_to('Cancel ', "javascript:;", class: 'delete-cancel btn btn-sm', style: 'display: none;')
            = link_to(site, method: :delete, data: { confirm: "Are you sure you want to delete '#{site.name}'?" },
              class: 'delete-really btn btn-danger btn-sm', style: 'display: none;') { bi_icon('trash') + 'Really delete!' }

.create-button
  = link_to 'Create site', new_site_path, class: 'btn btn-primary'
