%h1 Your sites

-if @sites.empty?
  %p Click 'Create site' below to create your first TiddlyWiki site.

-else
  -if current_user.has_hub_link?
    .hub-link
      =link_to_user_hub_with_count(current_user)

  .summary-info
    =pluralize(@site_count, 'site') + ","
    =as_megabytes(@total_storage_bytes)
    MB storage used.

  %table.sites

    %thead
      %th Site
      %th Access
      %th Views
      %th Size<small><br>(Compressed)</small>
      %th Last updated
      %th

    %tbody
      -@sites.each do |site|
        -is_tspot = site.is_a?(TspotSite)
        %tr
          %td
            .sitelink= site_pretty_link(site)
            -if site.description.present?
              .description= span_with_title(site.description)
            -unless site.tag_list.empty?
              .site-tags= clickable_site_tags(site)

          %td
            .site-access= site_access(site)

          %td
            .views
              -if is_tspot
                =site.access_count
              -else
                =site.view_count

          %td
            -if site.blob
              =as_megabytes(site.blob_byte_size)
              MB

            -else
              .text-muted -

          %td
            -if is_tspot
              =nice_timestamp(site.save_count > 0 && site.blob_created_at)
            -else
              =nice_timestamp(site.blob_created_at)

          %td
            .btn-group
              %button.btn.btn-secondary.btn-sm.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                =bi_icon('gear-fill', fill: '#fff', style: 'margin-right: 0px;')
                Actions
              .dropdown-menu
                -if is_tspot
                  =link_to(download_tspot_site_path(site), class: 'dropdown-item') { bi_icon('download') + 'Download' }
                  .dropdown-divider
                  =link_to(edit_tspot_site_path(site), class: 'dropdown-item') { bi_icon('sliders') + 'Change settings' }
                  =link_to(change_password_tspot_site_path(site), class: 'dropdown-item') { bi_icon('sliders') + 'Change password' }
                  .dropdown-divider
                  =link_to(disown_tspot_site_path(site), method: :post, class: 'dropdown-item',
                    data: { confirm: "Are you sure you want to give up ownership of '#{site.name}.tiddlyspot.com'?" }) { bi_icon('file-earmark-minus') + 'Disown' }
                -else
                  =link_to(download_site_path(site), class: 'dropdown-item', target: '_blank') { bi_icon('download') + 'Download' }
                  .dropdown-divider
                  =link_to(edit_site_path(site), class: 'dropdown-item') { bi_icon('sliders') + 'Change settings' }
                  =link_to(upload_form_site_path(site), class: 'dropdown-item') { bi_icon('upload') + 'Upload' }
                  .dropdown-divider
                  =link_to(site, method: :delete, class: 'dropdown-item',
                    data: { confirm: "Are you sure you want to delete '#{site.name}'?" }) { bi_icon('trash') + 'Delete' }

.create-button
  =link_to 'Create site', new_site_path, class: 'btn btn-primary'
  -if Settings.tiddlyspot_enabled?
    =link_to 'Claim Tiddlyspot site', { controller: :tspot_sites, action: :claim_form }, class: 'btn btn-light'
