
= render layout: 'form_wrapper', locals: { heading: 'Update account' } do

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|

    = render 'devise/shared/error_messages', resource: resource

    = render layout: 'field_wrapper', locals: { pt: 'pt-2' } do
      = f.label :email
      = f.email_field :email, autofill: 'off', autocomplete: 'off', class: 'form-control'
      .form-text Your email address

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      = render layout: 'field_wrapper' do
        .form-text
          Currently waiting confirmation for email address:
          %b
            = resource.unconfirmed_email

    = render layout: 'field_wrapper' do
      = f.label :name
      = f.text_field :name, autofocus: true, autofill: 'off', autocomplete: 'off', class: 'form-control'
      .form-text Your name

    = render layout: 'field_wrapper' do
      = f.label :username
      = f.text_field :username, autofocus: true, autofill: 'off', autocomplete: 'off', class: 'form-control'
      .form-text Unique username (optional). Will be clickable on the Explore page.

    = render layout: 'field_wrapper' do
      = f.label 'Profile image'
      .row.my-2
        .col
          %div.form-check
            = f.label :use_gravatar do
              = gravatar_image(resource, size: 40, style: 'margin-left: -1.5em;')
              %br
              = f.check_box :use_gravatar, class: 'form-check-input'
              .form-check-label Use #{link_to 'Gravatar', 'https://gravatar.com/', target: '_blank'}
        .col
          %div.form-check
            = f.label :use_libravatar do
              = libravatar_image(resource, size: 40, style: 'margin-left: -1.5em;')
              %br
              = f.check_box :use_libravatar, class: 'form-check-input'
              .form-check-label Use #{link_to('Libravatar', 'https://libravatar.org/', target: '_blank')}

    = render layout: 'field_wrapper' do
      = f.label :current_password, 'Current password. Required to make changes.'
      = f.password_field :current_password, autocomplete: 'current-password', class: 'form-control'
      .form-text Enter your current password to confirm the changes

    = render layout: 'field_wrapper' do
      = f.label :password, 'New password'
      .form-text (leave blank if you don't want to change it)
      = f.password_field :password, autocomplete: 'new-password', class: 'form-control'
      .form-text #{Settings.minimum_password_length} characters minimum

    = render layout: 'field_wrapper' do
      = f.label :password_confirmation, 'New password confirmation'
      = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'
      .form-text Re-type your new password to confirm it

    = render layout: 'field_wrapper', locals: { pt: 'pt-3' } do
      = f.submit 'Update', class: 'btn btn-primary'
      = link_to 'Cancel', sites_path, class: 'px-3'

.m-2.p-2
  &nbsp;

= render layout: 'form_wrapper', locals: { heading: 'Delete account' } do

  = render layout: 'field_wrapper' do
    .form-text{ style: 'padding:1em;' }
      = bi_icon 'exclamation-triangle', class: 'warning', height: '2em', width: '2em'
      %b.text-danger Proceed with caution. If you delete your account your sites will also be immediately deleted.

  = render layout: 'field_wrapper' do
    = button_to 'Delete account', registration_path(resource_name), method: :delete, class: 'btn btn-danger',
      data: { confirm: 'Are you sure you want to delete your account?' }
