
%h1 Build Info

.stats
  - @build_info.each do |key, val|
    - next if key == 'sha'
    .row
      .label= key.titleize
      .data-wide
        - case key when 'commit'
          = link_to(val + " (#{@build_info['sha'][0..6]})",
            github_tree_url(@build_info['sha']), target: '_blank')
        - when 'branch'
          = link_to(val, github_tree_url(val), target: '_blank')
        - else
          = val
