
.d-flex.mt-1{ style: "overflow: hidden;" }
  .ms-1.p-1
    - if site.thumbnail.present?
      = link_to site.url, target: site.long_name do
        = image_tag(rails_storage_proxy_path(site.thumbnail),
          class: "thumbnail-large", style: "width: 6em;")

  .p-1.flex-fill
    = link_to site.url, target: site.long_name,
      style: "color: var(--bs-gray-600); text-decoration: none; font-weight: bold;" do
      = site.name
    %span.ps-2.text-muted{ style: "font-size: 75%;" }
      - if site.user == current_user
        -# Cloning your own site
        = site_access(site)

      - else
        -# Cloning someone else's site
        %span.site-tile-owner
          = render 'site_owner', user: site.user

    .small.text-muted{ style: "white-space: nowrap;" }
      = site.description

    .text-muted{ style: "font-size: 75%;" }
      = kind_summary(site)
