
:ruby
  is_tspot = site.is_a?(TspotSite)
  is_templates = @show_templates.present?

  # Decide about clone/download buttons
  is_cloneable = site.cloneable_by_public?
  clone_buttons = is_cloneable && mode == "hub"

.site{ id: site.name }
  .thumb-container
    = link_to site.url, target: site.long_name do
      - thumbnail = site.thumbnail_with_fallback
      - if thumbnail.present?
        = image_tag thumbnail_url(thumbnail), class: 'thumbnail-large'
      - else
        .image-placeholder{ title: "Preview image not yet available" }
          = bi_icon('image', fill: '#ddd')

  - if clone_buttons
    -# Show the new style clone and download buttons
    .clone-download-buttons
      = link_to "#{site.url}/download", class: 'btn btn-sm btn-light' do
        #{bi_icon('download', height: '1.2em', fill: '#777')}Download
      = link_to new_site_path(clone: site.name), class: 'btn btn-sm btn-light' do
        #{bi_icon('files', height: '1.2em', fill: '#777')}Clone

    - unless is_templates
      -# Same thing but it will be visible pre-hover
      .clone-download-buttons.mini-clone-download-buttons
        = link_to "#{site.url}/download", class: 'btn btn-sm btn-light' do
          #{bi_icon('download', height: '1.2em', fill: '#777')}
        = link_to new_site_path(clone: site.name), class: 'btn btn-sm btn-light' do
          #{bi_icon('files', height: '1.2em', fill: '#777')}

  - else
    -# Clumsy alignment tweak for when the buttons are not there
    %div{ style: "margin-bottom: 0.2em;" }

  .name{ title: site.long_name }
    = site_link site, target: site.long_name

  - if mode == "home"
    -# Show the actions menu
    .float-end
      = render 'actions_menu', site: site, is_tspot: is_tspot, menu_only: true

    .small.m-1
      = site_access(site)
      = render 'site_kind_info', site: site

  .description
    = span_with_title(site.description)

  - if mode == "hub"
    .pt-1{ style: 'font-size: 70%; opacity: 0.7; margin-left: 3px;' }
      = render 'site_kind_info', site: site

    .owner
      = render 'site_owner', user: site.user

      %span.views
        = views_and_updated_text(site, show_clone_count: is_templates).html_safe

  - unless site.tag_list.empty?
    .site-tags.pt-1
      - if mode == "home"
        = home_tag_links(site)
      - else
        = hub_tag_links(site)
