- is_tspot = site.is_a?(TspotSite)

.site{id: site.name}
  .thumb-container
    = link_to site.url, target: site.long_name do
      - if site.thumbnail.present?
        = image_tag rails_storage_proxy_path(site.thumbnail), class: 'thumbnail-large'
      - else
        .image-placeholder{title: "Preview image not yet available"}
          = bi_icon('image', fill: '#ddd')

  .name{title: site.long_name}
    = site_link site, target: site.long_name

  - if mode == "home"
    -# Show the actions menu
    .float-end
      = render 'actions_menu', site: site, is_tspot: is_tspot, menu_only: true

    .small.m-1
      = site_access(site)
      = render 'site_kind_info', site: site

  .description
    - if mode == "hub" && site.cloneable_by_public?
      -# Show a clone button
      .float-end.enable-tooltips
        = link_to(new_site_path(clone: site.name),
          "data-bs-toggle"=>"tooltip",
          "data-bs-placement"=>"right",
          class: 'clone-btn btn btn-sm px-2 py-1 mx-1 my-0', style: 'border-style: none;',
          title: 'Create a new site using this template') do
          = bi_icon('files', height: '1.2em', fill: '#777')
          %div{style: "font-size: 60%; margin-top: -1px;"}Clone
        .py-0.my-0{style: "font-size: 70%; text-align: center; font-weight: bold; line-height: 1em;"}
          = site.clone_count

    = span_with_title(site.description)

  - if mode == "hub"
    .pt-1{style: 'font-size: 70%; opacity: 0.7; margin-left: 3px;'}
      = render 'site_kind_info', site: site

    .owner
      = render 'site_owner', user: site.user

      %span.views
        = views_and_updated_text(site).html_safe

  - unless site.tag_list.empty?
    .site-tags.pt-1
      = clickable_site_tags(site)
