
= render layout: 'form_wrapper', locals: { heading: 'Resend unlock instructions',
  intro_text: "Enter your email address to resend the account unlock link." } do

  = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|

    = render 'devise/shared/error_messages', resource: resource

    = render layout: 'field_wrapper' do
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'

    = render layout: 'field_wrapper', locals: { pt: 'pt-2' } do
      = f.submit 'Resend unlock instructions', class: 'btn btn-primary'

    = render 'devise/shared/links'
